/* start global rules*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.clearfix {
    clear: both
}

.web {}

.web .js-login {
    float: left;
    width: 50%;
    height: 100px;
    margin: 9% 25%;
}
.web  form .js-error{
    display: none;
}

/* end global rules*/